.browsehappy{
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Colors
$link-color: #008CBA;
$link-hover: #007ba0;
$light-bg: #d3d3d3;

$column-gutter: 1.875em;

// Universal Styles
.hidden{
  display: none;
}
@-webkit-keyframes rotating{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
span.loader:before{
  animation: rotating 2s linear infinite;
}
button{
  padding: 0.6em;
}
.underline{
  text-decoration: underline;
  color: $link-color;
  &:hover{
    color: $link-hover;
  }
}

// Playlists Page Style
#playlist-listing{
  list-style: none;
  .playlist-link{
    display: inline-block;
    padding: $column-gutter/2;
    &:hover{
      background: $light-bg;
    }
  }
  h5{
    display: inline-block;
  }
}

// Playlist Page Styles
#song-list{
  list-style: none;
  li{
    margin-bottom: 0.2em;
  }
}
.search-results{
  ul{
    list-style: none;
  }
}
.icon-cancel{
  cursor: pointer;
  &:before{
    font-size: 1.2em;
    color: red;
  }
}
#player-controls{
  span{
    cursor: pointer;
  }
}
