.browsehappy{
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Universal Styles
.hidden{
  display: none;
}
@-webkit-keyframes rotating{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
span.loader:before{
  animation: rotating 2s linear infinite;
}
button{
  padding: 0.6em;
}

// Playlist Page Styles
#song-list{
  list-style: none;
  li{
    margin-bottom: 0.2em;
  }
}
.icon-cancel{
  cursor: pointer;
  &:before{
    font-size: 1.2em;
    color: red;
  }
}
