<div ng-include="'partials/navbar'"></div>

<div>
  <h2>{{ currentPlaylist.title }} created by {{ currentPlaylist.createdBy }} on {{ currentPlaylist.date }}</h2>
</div>

<div>
  <h4>Songs:</h4>
  <div>
    <ul>
      <li ng-repeat="song in currentPlaylist.songs">
        {{ song.songName }} added by {{ song.addedBy }} on {{ song.addedDate }} {{ $index }}
        <span ng-click="updatePlaylist(song, currentPlaylist, 'delete', index)">X</span>
      </li>
      <li>
        <form>
          <input type="text" ng-model="playlist.song.songUrl">
        </form>
        <button ng-click="updatePlaylist(playlist, currentPlaylist)">ADD SONG</button>
      </li>
    </ul>
  </div>
</div>
